.container {
  flex-direction: column;
  justify-content: space-around;
  height: 75vh;
  padding: 0 2rem;
  gap: 0;
  position: relative;
}

.friend--name {
  border-radius: 20px 20px 0 0;
  width: 80%;
  text-align: center;
  background-color: #e9b384;
  padding: 5px;
  color: white;
}

.messages--container {
  width: 80%;
  height: 85%;
  background-color: #a1ccd1;
  overflow-y: scroll;
  padding: 1rem 2rem;
}

.messages--container::-webkit-scrollbar {
  display: none;
}

.render--msg {
  height: 4rem;
  width: 80%;
  overflow: hidden;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.time {
  color: rgb(217, 211, 211);
}

.msg--input {
  width: 85%;
  height: inherit;
}

.msg--btn {
  height: 4.3rem;
  width: 15%;
}

.message--template {
  min-height: 3rem;
  word-wrap: break-word;
  max-width: 20rem;
  min-height: fit-content;
  overflow-x: hidden;
  background-color: #7c9d96;
  padding: 15px;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  margin: 1rem 0;
}

.message--body {
  color: white;
  font-weight: lighter;
}

.msg--outer {
  display: flex;
}

.right--align {
  justify-content: end;
}

.right--border {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 0;
}

.msg--input {
  padding: 1rem;
  font-size: 1.2rem;
  color: black;
  border: none;
  outline: none;
}
.msg--btn {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #e9b384;
}
.msg--input:hover,
.msg--btn:hover {
  outline: none;
  border: none;
}

@media screen and (max-width: 600px) {
  .container {
    margin: 2rem 0;
  }
  .messages--container,
  .friend--name {
    width: 100%;
  }

  .render--msg {
    width: 100%;
  }
  .msg--input {
    width: 80%;
  }
  .msg--btn {
    width: 20%;
  }
  .message--template {
    min-width: 8rem;
  }
}
